name: Run Tests

on:
  push:
    branches:
      - final

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install python3.11-distutils
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install pytest
      run: |
        pip install pytest

    - name: Run tests
          env:
            redis: "redis://default:4daae7b3c7964f57b75b7667edade996@us1-game-falcon-37220.upstash.io:37220"  # Set your desired Redis URL
          run: |
            pytest test_app.py